/*
* main_style.css
* Date 10/11/16
* Created by Alec Waichunas
* CSS that makes my site look good!
*/

body{
    padding: 0;
    margin: 0;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #4DA5F0;
  height: 50px;
}

.header_text{
    min-width: 600px;
    width: 60%;
    margin: auto;
    padding-left: 15px;
    color: #fff;
    text-align: left;
    font-size: 40px;
}

.space_header{
    position: relative;
    width: 100%;
    margin: 0;
    background: inherit;
    height: 50px;
}

/* END HEADER*/

/* BODY SETUP */
.blog_body{
    min-width: 600px;
    width: 60%;
    margin: auto;
}

.page_content{

}

.side_bar{
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    height: 600px;
    width: 200px;
    min-width: 200px;
}

.link_box {
    outline: black solid 1px;
    width: 200px;
    min-height: 250px;
}

/* END BODY */

/*PREVIEW BLOG*/

.blog_preview {
  backgroud-color: #F0F8FF;
}

.blog_preview_title{
  color: black;
  font-size: 20px;
  padding: 10px 0px 0px 10px;
  margin: 10px 0px 0px 10px;
}

.blog_preview_date{
    font-size: 10px;
    margin: 00px 0px 0px 10px;
    padding: 0px 0px 0px 10px;
}

.blog_preview_body{
  color: black;
  font-size 14px;
  padding: 10px;
  padding-top: 10px;
  margin: 10px;
}

.seperator{
    height: 3px;
    width: 100%;
    margin: auto;
    background-color: black;
    border-radius: 25px;
    background: linear-gradient(to right, white, grey, white);
}

/* BLOG VIEW */

.blog_title{
    font-size: 32px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.blog_date{
    font-size: 12px;
    padding-top: 0px;
    margin-top: 0px;
}

.blog_text{

}

.comment_heading{
    font-size: 22px;
    margin-bottom: 0px;
}

.comment_form{
    width: 100%;
}

.comment_text{
    width: 100%;
    resize: none;
    margin-top: 0;
}

.comment_button{
    width: 100px;
    float: right;
}

.blog_comment_name{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 20px;
}

.blog_comment_time{
    margin-top: 0;
    padding-top: 0;
    font-size: 12px;
}

.blog_comment_text{

}

/* END BLOG VIEW*/

.blog_comment{
    outline: black solid 1px
}

.blog_comment_name{
    padding: 10px;
    padding-bottom: 0px;
}

.blog_comment_text{
    padding: 10px;
    padding-top: 0px;
}

.blog_comment_time{
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}
