<!--
* index.html
* Date 9/24/16
* Created by Alec Waichunas
* The fun stuff :P
-->

<html>

  {% include 'header.html' %}

    <body>
        <!--  Header! -->
        <div class="header">
          <p class="header_text">Alec Waichunas</p>
        </div>
        <div class="space_header"></div>

        <div class="blog_body">

            <div class="page_content">
                {% block content %}
                {% endblock %}
            </div>

            <!-- <div class="side_bar">
                <div class="link_box">
                </div>
            </div> -->
        </div>
    </body>

    <footer>
        <script src="/static/js/jquery-3.1.1.min.js"></script>
        <script src="/static/js/facebook.js"></script>
        <script src="/static/js/comment.js"></script>
    </footer>

</html>
