{% extends 'base.html' %}

{% block content %}

    <p><a href="#"><===</a></p>

    <p class="blog_title"> {{ blog.blog_title }} </p>
    <p class="blog_date"> {{ blog.blog_date }} </p>
    <p class="blog_text"> {{ blog.blog_text }} </p>

    <p class="comment_heading">Comment</p>
    <form action="{% url 'blog' blog.id %}" class="comment_form" action="" method="post">
        {% csrf_token %}
        <input val="John Doe" type="hidden" class="comment_author" id="comment_author" name="comment_author">
        <textarea class="comment_text" cols="150" rows="5" name="comment"></textarea><br>
        <fb:login-button id="submit_comment" name= "submit"class="comment_button" scope="public_profile,email" onlogin="checkLoginState();"> </fb:login-button>
        <input class="submit_comment" id="submit_button" type="submit" name="submit">
    </form>

    <br>

    {% for comment in comments %}
        <div class="blog_comment">
            <p class="blog_comment_name">{{ comment.comment_author }}</p>
            <p class="blog_comment_time">{{ comment.comment_date }}</p>
            <p class="blog_comment_text">{{ comment.comment_text }}</p>
        </div>
    {% endfor %}
{% endblock %}
