{% extends 'base.html' %}

{% block content %}
    <table>
        <td class="blog_highlights">
            {% for blog in blogs %}
              <div class="blog_preview">
                        <p class="blog_preview_title"> {{ blog.blog_title }}</p>
                        <p class="blog_preview_body">
                            {{ blog.get_preview }}
                        </p>
                </div>
            {% endfor %}
        </td>
        <td class="side_bar">
            <div class="link_box">
            </div>
        </td>
    </table>

{% endblock %}
